

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: hsl(0, 0%, 100%);
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.animate_navbar {
  animation: dropIn 0.5s ease-in-out forwards;
}

@keyframes dropIn {
  from {
    transform: translateY(-100%);
    background-color: transparent;
  }
  to {
    transform: translateY(0%);
    background-color: #02024c;
  }
}




/* For heading-responsive-1 */
@media (max-width: 870px) and (min-width: 768px) {
  .heading-responsive-1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  p[class*="heading-responsive-2"] {
    font-size: 1.1rem ;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade_in{
  animation: fadeIn 1s ease-in forwards;
}

@keyframes dropDown{
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}


.drop-down {
  animation: dropDown 0.5s ease-in-out forwards;
}


@layer utilities {
  /* In animations */
  @keyframes slide-in-from-left {
    0% { transform: translateX(-100%); opacity: 0.5; }
    100% { transform: translateX(0); opacity: 1; }
  }
  @keyframes slide-in-from-right {
    0% { transform: translateX(100%); opacity: 0.5; }
    100% { transform: translateX(0); opacity: 1; }
  }

  /* Out animations */
  @keyframes slide-out-to-left {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-100%); opacity: 0.5; }
  }
  @keyframes slide-out-to-right {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(100%); opacity: 0.5; }
  }

  @keyframes slide-up-to-down {
    0% { transform: translateY(100%); opacity: 0; }
    100% { transform: translateY(0%); opacity: 1; }
  }

  .animate-slide-in-from-left {
    animation: slide-in-from-left 0.6s ease forwards;
  }
  .animate-slide-in-from-right {
    animation: slide-in-from-right 0.6s ease forwards;
  }
  .animate-slide-out-to-left {
    animation: slide-out-to-left 0.6s ease forwards;
  }
  .animate-slide-out-to-right {
    animation: slide-out-to-right 0.6s ease forwards;
  }

  .animate-slide-up-to-down {
    animation: slide-up-to-down 0.6s ease forwards;
  }
}

@layer base {
  html {
    scroll-padding-top: 120px; /* Adjust according to your navbar height */
    scroll-behavior: smooth;
  }
}





